<%- include('includes/header', { title: "Login page" }) %>
<form action="/auth" method="post">
  <div class="columns is-centered">
    <div class="column is-two-thirds">
      <div class="field">
        <label for="email" class="label">E-mail</label>
        <div class="control has-icons-left">
          <input id="email" type="email" class="input" placeholder="Email input">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label for="password" class="label">Password</label>
        <div class="control has-icons-left">
          <input id="password" type="password" class="input" placeholder="Password input">
          <span class="icon is-small is-left">
            <i class="fas fa-low-vision"></i>
          </span>
        </div>
        <div class="help is-danger">Forgot password? Click <a href="#">here</a></div>
      </div>
      <button class="button is-primary is-medium">Login</button>
    </div>
  </div>
</form>
<%- include('includes/footer') %>