extends layout

block title
  title CoolSite.com - Forgot password

block content
  form(action="/forgot-password" method="post")
    .columns.is-centered
      .column.is-two-thirds
        h2.title.has-text-centered Forgot your password?
        .field
          label(for="email" class="label") E-mail
          .control.has-icons-left
            input(id="email" name="email" type="email" class="input" placeholder="Email input")
            span.icon.is-small.is-left
              i.fas.fa-envelope
          .help.is-info If user with this email exists, message with further instructions will be send on it.
        button.button.is-success.is-medium Continue
  script.
    var errors = !{JSON.stringify(errors)};
    var path = "forgot-password";
  script(src='../static/js/main.js')