extends layout

block title
  title CoolSite.com - Main page

block content
  h1.title.has-text-centered Welcome to CoolSite.com
  .columns.is-centered
    .column.is-two-thirds
      p 
        | This is an example project based on NodeJS, express, mongoose and pug.
        | It was created using TypeScript and has a lot more packages under the hood.
        | See 
        a(href="https://github.com/ZVER3D/ts-express-server")
          i.fab.fa-github
          | Github repo
        |  to learn more.