extends layout

block title
  title CoolSite.com - Reset password

block content
  form(action="/reset-password" method="post")
    .columns.is-centered
      .column.is-two-thirds
        h2.title.has-text-centered Make a new password
        .field
          label(for="password" class="label") Password
          .control.has-icons-left
            input(id="password" name="password" type="password" class="input" placeholder="Password input")
            span.icon.is-small.is-left
              i.fas.fa-low-vision
            .help.is-success Should be at least 8 characters long and contain at least one letter and number.
        .field
          label(for="password2" class="label") Confirm password
          .control.has-icons-left
            input(id="password2" name="password2" type="password" class="input" placeholder="Confirm password input")
            span.icon.is-small.is-left
              i.fas.fa-low-vision
            .help.is-success Passwords must match.
        button.button.is-success.is-medium Continue
  script.
    var errors = !{JSON.stringify(errors)};
    var form = !{JSON.stringify(form)};
    var path = "reset-password";
  script(src='../static/js/main.js')